[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yoohuck12
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yoohuck12
	label-Verified = -1..+1 group user/yoohuck12
	push = group user/yoohuck12
	read = group user/yoohuck12
	rebase = group user/yoohuck12
	removeReviewer = group user/yoohuck12
	submit = group user/yoohuck12
[access "refs/heads/*"]
	create = group user/yoohuck12
	push = +force group user/yoohuck12
	pushMerge = group user/yoohuck12
	read = group user/yoohuck12
[access "refs/tags/*"]
	push = group user/yoohuck12
	push = +force group user/yoohuck12
